
<div class="dropdown">
    <div class="topnav">
      <input type="text" placeholder="Select Athlete Database...">
    </div>
    <button class="dropbtn"></button>
    <div class="dropdown-content">
      <a href="#">GT Athlete Twitter Followers</a>
    </div>

    <label class="container">Controversial Posts
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

    <label class="container">Profanity
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

    <label class="container"> Prospects
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

    <label class="container">Interest in Georgia Tech
      <input type="checkbox">
      <span class="checkmark"></span>
    </label>

  <a routerLink="/profiles-viewbox">
    <button class="btn Generate">Generate</button>
  </a>



</div>



