
<div class="dropdown">
    <div class="topnav">
      <input type="text" placeholder="Select Athlete Database..." [(ngModel)]="textFieldInput">
    </div>
    <button class="dropbtn"></button>
    <div class="dropdown-content">
      <a href="#">GT Athlete Twitter Followers</a>
    </div>

    <label class="container">Controversial Posts
      <input type="checkbox" [checked]="trueControversial"
             (change)="trueControversial = !trueControversial">
      <span class="checkmark"></span>
    </label>

    <label class="container">Profanity
      <input type="checkbox" [checked]="trueProfanity"
             (change)="trueProfanity = !trueProfanity">
      <span class="checkmark"></span>
    </label>

    <label class="container"> Prospects
      <input type="checkbox" [checked]="trueProspects"
             (change)="trueProspects = !trueProspects">
      <span class="checkmark"></span>
    </label>

    <label class="container">Interest in Georgia Tech
      <input type="checkbox" [checked]="trueInterest"
             (change)="trueInterest = !trueInterest">
      <span class="checkmark"></span>
    </label>

  <a routerLink="/profiles-viewbox">
    <button class="btn Generate" (click)="doThis()">Generate</button>
  </a>



</div>



