<div id="outer">
  <div id="inner">
    <img src="{{ profile_pic_url }}" width=150 height=150>
   <div>
     <h1>
     {{ name }} <br>
     </h1>

     <div id="post_title">
      Flagged Posts
     </div>

     <div id="posts">
      <app-post-container [postsContents]='posts'></app-post-container>
     </div>


     <br>
     <div>Interested Universities:</div>
     <app-post-container [postsContents]="intUniversities"></app-post-container>
    </div>

  <div id="schoolFit">
    Calculated School Fit: {{ percentFit }}


  </div>
</div>
