#outer {
  font-family: "Verdana", serif;
  background-color: #F9F9F9;
  border-radius: 10px;
  border: 1px solid gray;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 3px;
}

#inner {
  margin-left: 10%;
  margin-right: 10%;
}
